.catBox{
    direction: rtl;
    max-width: 350px;
    min-width: 350px;
    min-height: 400px;
    max-height: 430px;
    
    border: 2px solid #509e2d;
    /* background: red; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #509e2d;
   img{
        height: 250px;
        object-fit: cover;
    }
    .text{
        padding: 10px 40px;
        min-height:250px;
        
    }
    .text1{
        display: flex;
        align-items: center;
        /* justify-content: space-between;
         */
         gap: 28%;
         min-height: 50px;
         max-height: 50px;
        p{
            font-weight: bold;
            color: #509e2d;
            font-size: 14px;
           
        }
         span{
                font-weight: normal;
                color: #5c5c5c;
            }
    }
}