.cats{
    padding-bottom: 60px;
    border-bottom: 1px solid #e8e6e6;
    h1{
        margin: 60px 0;
        text-align: center;
        color: #509e2d;
       
    }
    .boxes{
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

}

@media (max-width:800px) {
    .boxes{
      justify-content: center;
    }
}